---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
{% if client.templateMode %}User-agent: *
Disallow: /
{% else %}User-agent: *
Allow: /

Sitemap: {{ site.url }}/sitemap.xml
{% endif %}
